# App Configuration
APP_NAME=SpatialHub GeoService
APP_ENV=development
GEOSERVER_APP_HOST=0.0.0.0
GEOSERVER_APP_PORT=8083
APP_TIMEZONE=Europe/Berlin

# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=spatialai
DB_USERNAME=postgres
DB_PASSWORD=postgres

# GeoServer Configuration
GEOSERVER_BASE_URL=http://localhost:8180/geoserver
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver
GEOSERVER_CSRF_WHITELIST=localhost
GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
GEOSERVER_CONTAINER_MOUNT=data/results

# Keycloak Configuration (if needed)
KEYCLOAK_CLIENT_SECRET=m4AJ4Pj9NXzOdryBGio0x9Q7bww6whF5
